PartnerReservationClient/src/META-INF/wsdl/localhost_8080/PartnerReservationService/PartnerReservationService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="InvalidLoginCredentialsException" type="tns:InvalidLoginCredentialsException"/>

<xs:element name="InvalidTemporalInputException" type="tns:InvalidTemporalInputException"/>

<xs:element name="NoMoreRoomException" type="tns:NoMoreRoomException"/>

<xs:element name="PartnerNotFoundException" type="tns:PartnerNotFoundException"/>

<xs:element name="Reservation" type="tns:reservation"/>

<xs:element name="ReservationNotVisibleException" type="tns:ReservationNotVisibleException"/>

<xs:element name="ReservationSearchResult" type="tns:reservationSearchResult"/>

<xs:element name="RoomTypeNotFoundException" type="tns:RoomTypeNotFoundException"/>

<xs:element name="loginPartner" type="tns:loginPartner"/>

<xs:element name="loginPartnerResponse" type="tns:loginPartnerResponse"/>

<xs:element name="partnerReserve" type="tns:partnerReserve"/>

<xs:element name="partnerReserveResponse" type="tns:partnerReserveResponse"/>

<xs:element name="partnerSearchRoom" type="tns:partnerSearchRoom"/>

<xs:element name="partnerSearchRoomResponse" type="tns:partnerSearchRoomResponse"/>

<xs:element name="reservationDetails" type="tns:reservationDetails"/>

<xs:element name="reservationDetailsResponse" type="tns:reservationDetailsResponse"/>

<xs:element name="viewAllReservations" type="tns:viewAllReservations"/>

<xs:element name="viewAllReservationsResponse" type="tns:viewAllReservationsResponse"/>

<xs:complexType name="partnerSearchRoom">
<xs:sequence>
<xs:element name="checkInDate" type="xs:string" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerSearchRoomResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationSearchResult" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationSearchResult">
<xs:sequence>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="quantity" type="xs:long" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:string" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:string" minOccurs="0"/>
<xs:element name="prevailRate" type="xs:decimal" minOccurs="0"/>
<xs:element name="clientType" type="tns:clientType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="amenities" type="xs:string" minOccurs="0"/>
<xs:element name="bedsize" type="tns:bedSize" minOccurs="0"/>
<xs:element name="capacity" type="xs:long" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="nextRoomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="roomSize" type="xs:decimal" minOccurs="0"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidTemporalInputException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationDetails">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:partnerReservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerReservation">
<xs:complexContent>
<xs:extension base="tns:reservation">
<xs:sequence>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="reservation" abstract="true">
<xs:sequence>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="occupant" type="tns:occupant" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:string" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:string" minOccurs="0"/>
<xs:element name="isProcessed" type="xs:boolean" minOccurs="0"/>
<xs:element name="rates" type="tns:rate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="allocation" type="tns:allocation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="partnerReservations" type="tns:partnerReservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="occupant">
<xs:sequence>
<xs:element name="allocations" type="tns:allocation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="passport" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="allocation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="rate">
<xs:sequence>
<xs:element name="periodEnd" type="tns:localDate" minOccurs="0"/>
<xs:element name="periodStart" type="tns:localDate" minOccurs="0"/>
<xs:element name="rateName" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerNight" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateType" type="tns:rateType" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localDate" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="PartnerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationNotVisibleException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllReservations">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:partnerReservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerReserve">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="passport" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="CheckInDate" type="xs:string" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerReserveResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoMoreRoomException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoomTypeNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginPartner">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="bedSize">
<xs:restriction base="xs:string">
<xs:enumeration value="KING"/>
<xs:enumeration value="QUEEN"/>
<xs:enumeration value="FULL"/>
<xs:enumeration value="TWIN"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="clientType">
<xs:restriction base="xs:string">
<xs:enumeration value="WALKIN"/>
<xs:enumeration value="ONLINE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="rateType">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBLISHED"/>
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="PEAK"/>
<xs:enumeration value="PROMOTION"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>