PartnerReservationClient/src/META-INF/wsdl/localhost_8080/PartnerReservationService/PartnerReservationService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="InvalidLoginCredentialsException" type="tns:InvalidLoginCredentialsException"/>

<xs:element name="InvalidTemporalInputException" type="tns:InvalidTemporalInputException"/>

<xs:element name="NoMoreRoomException" type="tns:NoMoreRoomException"/>

<xs:element name="PartnerNotFoundException" type="tns:PartnerNotFoundException"/>

<xs:element name="ReservationNotVisibleException" type="tns:ReservationNotVisibleException"/>

<xs:element name="RoomTypeNotFoundException" type="tns:RoomTypeNotFoundException"/>

<xs:element name="loginPartner" type="tns:loginPartner"/>

<xs:element name="loginPartnerResponse" type="tns:loginPartnerResponse"/>

<xs:element name="partnerReserve" type="tns:partnerReserve"/>

<xs:element name="partnerReserveResponse" type="tns:partnerReserveResponse"/>

<xs:element name="partnerSearchRoom" type="tns:partnerSearchRoom"/>

<xs:element name="partnerSearchRoomResponse" type="tns:partnerSearchRoomResponse"/>

<xs:element name="reservationDetails" type="tns:reservationDetails"/>

<xs:element name="reservationDetailsResponse" type="tns:reservationDetailsResponse"/>

<xs:element name="viewAllReservations" type="tns:viewAllReservations"/>

<xs:element name="viewAllReservationsResponse" type="tns:viewAllReservationsResponse"/>

<xs:complexType name="partnerSearchRoom">
<xs:sequence>
<xs:element name="checkInDate" type="xs:string" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerSearchRoomResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationSearchResult" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationSearchResult">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="InvalidTemporalInputException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationDetails">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:partnerReservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerReservation">
<xs:complexContent>
<xs:extension base="tns:reservation">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="reservation" abstract="true">
<xs:sequence>
<xs:element name="allocation" type="tns:allocation" minOccurs="0"/>
<xs:element name="isProcessed" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="allocation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="PartnerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationNotVisibleException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllReservations">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:partnerReservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginPartner">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerReserve">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="passport" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="CheckInDate" type="xs:string" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerReserveResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoMoreRoomException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoomTypeNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>