PartnerReservationClient/xml-resources/web-service-references/PartnerReservationService/wsdl/localhost_8080/PartnerReservationService/PartnerReservationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerReservationService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerReservationService/PartnerReservationService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerSearchRoom">
<part name="parameters" element="tns:partnerSearchRoom"/>
</message>
<message name="partnerSearchRoomResponse">
<part name="parameters" element="tns:partnerSearchRoomResponse"/>
</message>
<message name="InvalidTemporalInputException">
<part name="fault" element="tns:InvalidTemporalInputException"/>
</message>
<message name="reservationDetails">
<part name="parameters" element="tns:reservationDetails"/>
</message>
<message name="reservationDetailsResponse">
<part name="parameters" element="tns:reservationDetailsResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="ReservationNotVisibleException">
<part name="fault" element="tns:ReservationNotVisibleException"/>
</message>
<message name="viewAllReservations">
<part name="parameters" element="tns:viewAllReservations"/>
</message>
<message name="viewAllReservationsResponse">
<part name="parameters" element="tns:viewAllReservationsResponse"/>
</message>
<message name="loginPartner">
<part name="parameters" element="tns:loginPartner"/>
</message>
<message name="loginPartnerResponse">
<part name="parameters" element="tns:loginPartnerResponse"/>
</message>
<message name="InvalidLoginCredentialsException">
<part name="fault" element="tns:InvalidLoginCredentialsException"/>
</message>
<message name="partnerReserve">
<part name="parameters" element="tns:partnerReserve"/>
</message>
<message name="partnerReserveResponse">
<part name="parameters" element="tns:partnerReserveResponse"/>
</message>
<message name="NoMoreRoomException">
<part name="fault" element="tns:NoMoreRoomException"/>
</message>
<message name="RoomTypeNotFoundException">
<part name="fault" element="tns:RoomTypeNotFoundException"/>
</message>
<portType name="PartnerReservationService">
<operation name="partnerSearchRoom">
<input wsam:Action="http://ws.session.ejb/PartnerReservationService/partnerSearchRoomRequest" message="tns:partnerSearchRoom"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationService/partnerSearchRoomResponse" message="tns:partnerSearchRoomResponse"/>
<fault message="tns:InvalidTemporalInputException" name="InvalidTemporalInputException" wsam:Action="http://ws.session.ejb/PartnerReservationService/partnerSearchRoom/Fault/InvalidTemporalInputException"/>
</operation>
<operation name="reservationDetails">
<input wsam:Action="http://ws.session.ejb/PartnerReservationService/reservationDetailsRequest" message="tns:reservationDetails"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationService/reservationDetailsResponse" message="tns:reservationDetailsResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationService/reservationDetails/Fault/PartnerNotFoundException"/>
<fault message="tns:ReservationNotVisibleException" name="ReservationNotVisibleException" wsam:Action="http://ws.session.ejb/PartnerReservationService/reservationDetails/Fault/ReservationNotVisibleException"/>
</operation>
<operation name="viewAllReservations">
<input wsam:Action="http://ws.session.ejb/PartnerReservationService/viewAllReservationsRequest" message="tns:viewAllReservations"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationService/viewAllReservationsResponse" message="tns:viewAllReservationsResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationService/viewAllReservations/Fault/PartnerNotFoundException"/>
</operation>
<operation name="loginPartner">
<input wsam:Action="http://ws.session.ejb/PartnerReservationService/loginPartnerRequest" message="tns:loginPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationService/loginPartnerResponse" message="tns:loginPartnerResponse"/>
<fault message="tns:InvalidLoginCredentialsException" name="InvalidLoginCredentialsException" wsam:Action="http://ws.session.ejb/PartnerReservationService/loginPartner/Fault/InvalidLoginCredentialsException"/>
</operation>
<operation name="partnerReserve">
<input wsam:Action="http://ws.session.ejb/PartnerReservationService/partnerReserveRequest" message="tns:partnerReserve"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationService/partnerReserveResponse" message="tns:partnerReserveResponse"/>
<fault message="tns:NoMoreRoomException" name="NoMoreRoomException" wsam:Action="http://ws.session.ejb/PartnerReservationService/partnerReserve/Fault/NoMoreRoomException"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationService/partnerReserve/Fault/PartnerNotFoundException"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationService/partnerReserve/Fault/RoomTypeNotFoundException"/>
</operation>
</portType>
<binding name="PartnerReservationServicePortBinding" type="tns:PartnerReservationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerSearchRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidTemporalInputException">
<soap:fault name="InvalidTemporalInputException" use="literal"/>
</fault>
</operation>
<operation name="reservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
<fault name="ReservationNotVisibleException">
<soap:fault name="ReservationNotVisibleException" use="literal"/>
</fault>
</operation>
<operation name="viewAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="loginPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialsException">
<soap:fault name="InvalidLoginCredentialsException" use="literal"/>
</fault>
</operation>
<operation name="partnerReserve">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoMoreRoomException">
<soap:fault name="NoMoreRoomException" use="literal"/>
</fault>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerReservationService">
<port name="PartnerReservationServicePort" binding="tns:PartnerReservationServicePortBinding">
<soap:address location="http://localhost:8080/PartnerReservationService/PartnerReservationService"/>
</port>
</service>
</definitions>